{% extends 'base.html' %}

{% load static %}

{% block title %}| Others{% endblock title %}

{% block content %}


    <div id="6" class="item new col-md-4">
        <div class="featured-item">
          <img src="{% static 'images/product-06.jpg' %}" alt="">
          <h4>Urna ac diam</h4>
          <h6>$65.00</h6>
          <button type="button" class="btn btn-primary" href="">Buy Now</button>
        </div>
      </a>
    </div>
    <div id="7" class="item new high col-md-4">
        <div class="featured-item">
          <img src="{% static 'images/product-03.jpg' %}" alt="">
          <h4>Proin eget imperdiet</h4>
          <h6>$75.00</h6>
         <button type="button" class="btn btn-primary" href="">Buy Now</button>
        </div>
      </a>
    </div>
    <div id="8" class="item low new col-md-4">
        <div class="featured-item">
          <img src="{% static 'images/product-02.jpg' %}" alt="">
          <h4>Nullam risus nisl</h4>
          <h6>$85.00</h6>
          <button type="button" class="btn btn-primary" href="">Buy Now</button>
        </div>
      </a>
    </div>
    <div id="9" class="item new col-md-4">
        <div class="featured-item">
          <img src="{% static 'images/product-01.jpg' %}" alt="">
          <h4>Cras tempus</h4>
          <h6>$95.00</h6>          
          <button type="button" class="btn btn-primary" href="">Buy Now</button>
        </div>
      </a>
    </div>
    </div>


{% endblock %}
