{% extends 'base.html' %}

{% load static %}

{% block title %}| PRODUCTS{% endblock title %}

{% block content %}



<!-- Page Content -->
<!-- Items Starts Here -->
<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Mobile & Accessories</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12"> 
      </div>
    </div>
  </div>
</div>

<div class="featured container no-gutter">
  <div class="row posts">
    <div id="1" class="item new col-md-4">
      <div class="featured-item">
        <a href="https://www.amazon.in/dp/B09CGJK2HG?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-10&pf_rd_r=KGS840FHHK14138SXHSQ&pf_rd_t=101&pf_rd_p=4275e574-e7dd-43ba-b0ad-1abb7bfd36ac&pf_rd_i=27108882031&linkCode=li2&tag=mukund1876-21&linkId=2e0b49af2f5bce68cbdf58704a931744&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B09CGJK2HG&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=mukund1876-21&language=en_IN" ></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=mukund1876-21&language=en_IN&l=li2&o=31&a=B09CGJK2HG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <h4>Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128GB Storage)</h4>
        <h6>₹16,999.00</h6>
        <button type="submit" class="btn btn-primary" href="https://amzn.to/3DpHJDl">Buy Now</button>
      </div>
      </a>
    </div>
    <div id="2" class="item high col-md-4">
      <div class="featured-item">
        <a href="https://www.amazon.in/dp/B09CGJFY5N?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-10&pf_rd_r=KGS840FHHK14138SXHSQ&pf_rd_t=101&pf_rd_p=4275e574-e7dd-43ba-b0ad-1abb7bfd36ac&pf_rd_i=27108882031&linkCode=li2&tag=mukund1876-21&linkId=ad27bb5eeb4c35cf1f6683916d375ea1&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B09CGJFY5N&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=mukund1876-21&language=en_IN" ></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=mukund1876-21&language=en_IN&l=li2&o=31&a=B09CGJFY5N" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <h4>Samsung Galaxy M32 5G (Sky Blue, 8GB RAM, 128GB Storage)</h4>
        <h6>₹18,999.00</h6>
        <button type="submit" class="btn btn-primary" href="https://amzn.to/3iIwRbF">Buy Now</button>
      </div>
      </a>
    </div>
    <div id="3" class="item low col-md-4">
      <div class="featured-item">
        <a href="https://www.amazon.in/realme-narzo-Oxygen-Green-Storage/dp/B09FKDB27R?dchild=1&linkCode=li2&tag=mukund1876-21&linkId=9cfdde9763807caac59b6e5292a2cb01&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B09FKDB27R&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=mukund1876-21&language=en_IN" ></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=mukund1876-21&language=en_IN&l=li2&o=31&a=B09FKDB27R" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <h4>realme narzo 50A (Oxygen Green, 4GB RAM + 128GB Storage)</h4>
        <h6>₹12,499.00</h6>
        <button type="submit" class="btn btn-primary" href="https://amzn.to/3mHwKyv">Buy Now</button>
      </div>
      </a>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/mobile/">See More ></a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Laptops & Accessories</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12"> 
      </div>
    </div>
  </div>
</div>

<div class="featured container no-gutter">
<div class="row posts">
  <div id="4" class="item low col-md-4">
    <div class="featured-item">
      <a href="https://www.amazon.in/gp/product/B098P62W63?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-4&pf_rd_r=0RTMBHMQ6EYRX341NC90&pf_rd_t=101&pf_rd_p=8fdfb73a-cc1d-4819-a9cb-a4764153a28a&pf_rd_i=7198569031&linkCode=li2&tag=mukund1876-21&linkId=e724fedae9ae64d49a729b5edc5da03e&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B098P62W63&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=mukund1876-21&language=en_IN" ></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=mukund1876-21&language=en_IN&l=li2&o=31&a=B098P62W63" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      <h4>ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i5-10300H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (8GB RAM/512GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN272T</h4>
      <h6>₹58,990.00</h6>
      <button type="submit" class="btn btn-primary" href="https://amzn.to/3Brpi0E">Buy Now</button>
    </div>
    </a>
  </div>
  <div id="5" class="item new high col-md-4">
    <div class="featured-item">
      <a href="https://www.amazon.in/gp/product/B09DMT6V7G?pf_rd_m=A1K21FY43GMZF8&pf_rd_s=merchandised-search-5&pf_rd_r=9ZH4DZ7A0DT5R19PXXVJ&pf_rd_t=101&pf_rd_p=ca3a11c1-6650-4d71-a4b9-f0ac683fabde&pf_rd_i=1375424031&linkCode=li2&tag=mukund1876-21&linkId=74756fae284b624e7e7de0bd2e400cff&language=en_IN&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B09DMT6V7G&Format=_SL160_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=mukund1876-21&language=en_IN" ></a><img src="https://ir-in.amazon-adsystem.com/e/ir?t=mukund1876-21&language=en_IN&l=li2&o=31&a=B09DMT6V7G" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      <h4>Lenovo Ideapad Slim 3 10th Gen Intel Core i3 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/256 GB SSD/UHD Graphics/Windows 10/MS Office/2 Year Warranty/Platinum Grey/1.7Kg), 81WB012DIN </h4>
      <h6>₹35,990.00</h6>
      <button type="submit" class="btn btn-primary" href="https://amzn.to/3AlUv3W">Buy Now</button>
    </div>
    </a>
  </div>
</div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/laptop/">See More ></a></li>
      </ul>
    </nav>
</div>

<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Fashion</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12"> 
      </div>
    </div>
  </div>
</div>

<div class="featured container no-gutter">
  <div class="row posts">


  </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/fashion/">See More ></a></li>
      </ul>
    </nav>
</div>

<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Kitchen Appliances</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12"> 
      </div>
    </div>
  </div>
</div>

<div class="featured container no-gutter">
  <div class="row posts">

  
  </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/kitchen/">See More ></a></li>
      </ul>
    </nav>
</div>

<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Books</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12"> 
      </div>
    </div>
  </div>
</div>

<div class="featured container no-gutter">
  <div class="row posts">

  
  </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/books/">See More ></a></li>
      </ul>
    </nav>
</div>

<div class="featured-page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Home Decor</h1>
        </div>
      </div>
      <div class="col-md-8 col-sm-12"> 
      </div>
    </div>
  </div>
</div>

<div class="featured container no-gutter">
  <div class="row posts">

  
  </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/decoration/">See More ></a></li>
      </ul>
    </nav>
</div>



<div class="page-navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li class="current-page"><a href="/others/">1</a></li>
          <li><a href="/others/">2</a></li>
          <li><a href="/others/">3</a></li>
          <li><a href="/others/"><i class="fa fa-angle-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Featred Page Ends Here -->

{% endblock %}
